[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ensembleR"]
	path = ensembleR
	url = https://github.com/sauravkaushik8/ensembler
	shallow = true
	registered = true
